<div class="row mb-20">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <%= s.label :page %><br />
      <%= s.number_field :page,{ class: 'form-control' } %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <%= s.label :book %><br />
      <%= s.text_field :book,{ class: 'form-control' } %>
    </div>
    <br>
</div>
<%= s.link_to_remove "Remove this source", class: "btn btn-danger" %>