<div class="container">
  
  <div class="row mt-20 mb-20">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h2>New Talent</h2>
      <!-- Button trigger modal -->
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#batchModal">
        Upload Talents
      </button>
    </div>
  </div>
  <hr>
  <%= form_for(@talent) do |f| %>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="form-group">
            <%= f.label :name %><br />
            <%= f.text_field :name, { autofocus: true, class: "form-control" } %>
          </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="form-group">
            <%= f.label :description %><br />
            <%= f.number_field :description, { class: "form-control" } %>
          </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="form-group">
            <%= f.label :activation_value %><br />
            <%= f.text_field :activation_value, { class: "form-control" } %>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="form-group">
            <%= f.label :ranked %><br />
            <%= f.text_area :ranked, { class: "form-control" } %>
          </div>
      </div>
    </div>
    <div class="row mb-20">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= f.label :sources %><br />
          <%= number_field_tag "sources[0]['page']", "" ,{ class: 'form-control' } %>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= f.label :sources %><br />
          <%= text_field_tag "sources[0]['book']", "" ,{ class: 'form-control' } %>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= f.submit "Create", { class: "btn-primary btn" } %>
      </div>
    </div>
  <% end %>
</div>
