<%= form_with(model: character, local: true) do |form| %>
    <% if character.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(character.errors.count, "error") %> prohibited this character from being saved:</h2>

          <ul>
            <% character.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

        <div class ="form-group">
          <p><%= form.label :name %></p><br>
          <p><%= form.text_field :name, :class => "form-control" %></p><br>
        </div>
        <div class ="form-group">
          <p><%= form.label :force_rating %></p><br>
          <p><%= form.text_field :force_rating, :class => "form-control" %></p><br>
        </div>
        <div class ="form-group">
          <p><%= form.label :user_id %></p><br>
          <p><%= form.text_field :user_id, :class => "form-control" %></p><br>
        </div>
        <div class ="form-group">
          <p><%= form.label :emotional_strength %></p><br>
          <p><%= form.text_field :emotional_strength, :class => "form-control" %></p><br>
        </div>
        <div class ="form-group">
          <p><%= form.label :emotional_weakness %></p><br>
          <p><%= form.text_field :emotional_weakness, :class => "form-control" %></p><br>
        </div>
        <div class ="form-group">
          <p><%= form.label :conflict %></p><br>
          <p><%= form.text_field :conflict, :class => "form-control" %></p><br>
        </div>
        <div class ="form-group">
          <p><%= form.label :morality %></p><br>
          <p><%= form.text_field :morality, :class => "form-control" %></p><br>
        </div>
        <div class ="form-group">
          <p><%= form.label :gender %></p><br>
          <p><%= form.text_field :gender, :class => "form-control" %></p><br>
        </div>
        <div class ="form-group">
          <p><%= form.label :age %></p><br>
          <p><%= form.text_field :age, :class => "form-control" %></p><br>
        </div>
        <div class ="form-group">
          <p><%= form.label :height %></p><br>
          <p><%= form.text_field :build, :class => "form-control" %></p><br>
        </div>
        <div class ="form-group">
          <p><%= form.label :hair %></p><br>
          <p><%= form.text_field :hair, :class => "form-control" %></p><br>
        </div>
        <div class ="form-group">
          <p><%= form.label :eyes %></p><br>
          <p><%= form.text_field :eyes, :class => "form-control" %></p><br>
        </div>
        <div class ="form-group">
          <p><%= form.label :notable_features %></p><br>
          <p><%= form.text_field :notable_features, :class => "form-control" %></p><br>
        </div>
        <div class ="form-group">
          <p><%= form.label :total_xp %></p><br>
          <p><%= form.text_field :available_xp, :class => "form-control" %></p><br>
        </div>
        <div class ="form-group">
          <p><%= form.label :soak_value %></p><br>
          <p><%= form.text_field :soak_value, :class => "form-control" %></p><br>
        </div>
        <div class ="form-group">
          <p><%= form.label :threshold_wounds %></p><br>
          <p><%= form.text_field :threshold_wounds, :class => "form-control" %></p><br>
        </div>
        <div class ="form-group">
          <p><%= form.label :current_wounds %></p><br>
          <p><%= form.text_field :current_wounds, :class => "form-control" %></p><br>
        </div>
        <div class ="form-group">
          <p><%= form.label :threshold_strain %></p><br>
          <p><%= form.text_field :threshold_strain, :class => "form-control" %></p><br>
        </div>
        <div class ="form-group">
          <p><%= form.label :current_strain %></p><br>
          <p><%= form.text_field :current_strain, :class => "form-control" %></p><br>
        </div>
        <div class ="form-group">
          <p><%= form.label :ranged_defense %></p><br>
          <p><%= form.text_field :ranged_defense, :class => "form-control" %></p><br>
        </div>
        <div class ="form-group">
          <p><%= form.label :meele_defense %></p><br>
          <p><%= form.text_field :meele_defense, :class => "form-control" %></p><br>
        </div>
        <div class ="form-group">
          <p><%= form.label :brawn %></p><br>
          <p><%= form.text_field :brawn, :class => "form-control" %></p><br>
        </div>
        <div class ="form-group">
          <p><%= form.label :agility %></p><br>
          <p><%= form.text_field :agility, :class => "form-control" %></p><br>
        </div>
        <div class ="form-group">
          <p><%= form.label :intellect %></p><br>
          <p><%= form.text_field :intellect, :class => "form-control" %></p><br>
        </div>
        <div class ="form-group">
          <p><%= form.label :cunning %></p><br>
          <p><%= form.text_field :cunning, :class => "form-control" %></p><br>
        </div>
        <div class ="form-group">
          <p><%= form.label :will_power %></p><br>
          <p><%= form.text_field :will_power, :class => "form-control" %></p><br>
        </div>
        <div class ="form-group">
          <p><%= form.label :presence %></p><br>
          <p><%= form.text_field :presence, :class => "form-control" %></p><br>
        </div>
        <div class ="form-group">
          <p><%= form.label :credits %></p><br>
          <p><%= form.text_field :credits, :class => "form-control" %></p><br>
        </div>
        <div class ="form-group">
          <p><%= form.label :motivations %></p><br>
          <p><%= form.text_field :motivations, :class => "form-control" %></p><br>
        </div>
        <div class ="form-group">
          <p><%= form.label :species %></p><br>
          <p><%= form.text_field :species, :class => "form-control" %></p><br>
        </div>
        <%= form.submit %>

    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>