<h1>New Character</h1>
 <%= form_for @character do |f| %>
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link active" href="#profile">Name</a>
			<div class ="form-group">
				<p><%= f.text_field :name, :class => "form-control" %></p><br>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#force_rating">Force Rating</a>
			<div class ="form-group">
				<p><%= f.text_field :force_rating, :class => "form-control" %></p><br>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#user_id">User ID</a>
			<div class ="form-group">
				<p><%= f.text_field :user_id, :class => "form-control" %></p><br>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#emotional_strength">Emotional Strength</a>
			<div class ="form-group">
				<p><%= f.text_field :emotional_strength, :class => "form-control" %></p><br>
			</div>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="#emotional_weakness">Emotional Weakness</a>
			<div class ="form-group">
				<p><%= f.text_field :emotional_weakness, :class => "form-control" %></p><br>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#conflict">Conflict</a>
			<div class ="form-group">
				<p><%= f.text_field :conflict, :class => "form-control" %></p><br>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#morality">Morality</a>
			<div class ="form-group">
				<p><%= f.text_field :morality, :class => "form-control" %></p><br>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#gender">Gender</a>
			<div class ="form-group">
				<p><%= f.text_field :gender, :class => "form-control" %></p><br>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#age">Age</a>
			<div class ="form-group">
				<p><%= f.text_field :age, :class => "form-control" %></p><br>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#height">Height</a>
			<div class ="form-group">
				<p><%= f.text_field :build, :class => "form-control" %></p><br>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#hair">Hair</a>
			<div class ="form-group">
				<p><%= f.text_field :hair, :class => "form-control" %></p><br>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#eyes">Eyes</a>
			<div class ="form-group">
				<p><%= f.text_field :eyes, :class => "form-control" %></p><br>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#notable_features">Notable Features</a>
			<div class ="form-group">
				<p><%= f.text_field :notable_features, :class => "form-control" %></p><br>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#total_xp">Total XP</a>
			<div class ="form-group">
				<p><%= f.text_field :available_xp, :class => "form-control" %></p><br>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#soak_values">Soak Value</a>
			<div class ="form-group">
				<p><%= f.text_field :soak_value, :class => "form-control" %></p><br>
			</div>
		</li>
		<li class="nav-item">	
			<a class="nav-link" href="#threshold_wounds">Threshold Wounds</a>
			<div class ="form-group">
				<p><%= f.text_field :threshold_wounds, :class => "form-control" %></p><br>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#current_wounds">Current Wounds</a>
			<div class ="form-group">
				<p><%= f.text_field :current_wounds, :class => "form-control" %></p><br>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#threshold_strain">Threshold Strain</a>
			<div class ="form-group">
				<p><%= f.text_field :threshold_strain, :class => "form-control" %></p><br>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#current_strain">Current Strain</a>
			<div class ="form-group">
				<p><%= f.text_field :current_strain, :class => "form-control" %></p><br>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#ranged_defense">Ranged Defense</a>
			<div class ="form-group">
				<p><%= f.text_field :ranged_defense, :class => "form-control" %></p><br>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#melee_defense">Melee Defense</a>
			<div class ="form-group">
				<p><%= f.text_field :melee_defense, :class => "form-control" %></p><br>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#brawn">Brawn</a>
			<div class ="form-group">
				<p><%= f.text_field :brawn, :class => "form-control" %></p><br>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#agility">Agility</a>
			<div class ="form-group">
				<p><%= f.text_field :agility, :class => "form-control" %></p><br>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#intellect">Intellect</a>
			<div class ="form-group">
				<p><%= f.text_field :intellect, :class => "form-control" %></p><br>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#cunning">Cunning</a>
			<div class ="form-group">
				<p><%= f.text_field :cunning, :class => "form-control" %></p><br>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#willpower">Willpower</a>
			<div class ="form-group">
				<p><%= f.text_field :will_power, :class => "form-control" %></p><br>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#presence">Presence</a>
			<div class ="form-group">
				<p><%= f.text_field :presence, :class => "form-control" %></p><br>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#credits">Credits</a>
			<div class ="form-group">
				<p><%= f.text_field :credits, :class => "form-control" %></p><br>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#motivations">Motivations</a>
			<div class ="form-group">
				<p><%= f.text_field :motivations, :class => "form-control" %></p><br>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#species">Species</a>
			<div class ="form-group">
				<p><%= f.text_field :species, :class => "form-control" %></p><br>
			</div>
		</li>
		<%= f.submit %>
	</ul>
<% end %>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="name">some content</div>
</div>
