

<div class="row mt-5">
	<div class="card col-md-12">
	  <h3 class="card-header"><%= @weapon.name %></h3>
	  <div class="card-block">
	    <div class="card-text">
			<h5>Damage: <%= @character_weapon.damage %></h5>
	    	<h5>Crit: <%= @character_weapon.crit %></h5>
	    	<h5>Special: <%= @character_weapon.special %></h5>
	    	<h5>Skill: <%= @weapon.skill %></h5>
	    	<h5>Range: <%= @weapon.range %></h5>
	    	<h5>Price: <%= @weapon.price %></h5>
	    	<h5>Encum: <%= @weapon.encum %></h5>
	    	<h5>Rarity: <%= @weapon.rarity %></h5>
	    	<h5>HP: <%= @weapon.hp %></h5>
	    </div>
	    <a href="#" class="btn btn-primary">Go somewhere</a>
	  </div>
	</div>
</div>
