<div class="container mt-40 mb-40">
  <h1 class="text-center">Create New Species</h1>
  <hr>
  <% if @species.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@species.errors.count, "error") %> prohibited this article from being saved:
      </h2>
      <ul>
        <% @species.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#batchModal">
      Upload Species
    </button>
  </div>

  <%= render 'form' %>

</div>

<!-- Modal -->
<div class="modal fade" id="batchModal" tabindex="-1" role="dialog" aria-labelledby="batchModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="batchModalLabel">Upload Species</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag upload_species_index_path , multipart:true do %>
          <div class="modal-body">
            <fieldset class="form-group">
              <legend>Species Batch Upload</legend>
              <label for="exampleInputFile">Select File</label>
              <%= file_field_tag 'upload[file]', required:true, class:"form-control-file" %>
              <small id="fileHelp" class="form-text text-muted">Select a JSON file to upload multiple Species</small>
            </fieldset>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= submit_tag "Upload File", class: 'btn btn-primary' %>
          </div>
      <% end %>
    </div>
  </div>
</div>

