<div class="container mt-40 mb-40">
  <h1 class="text-center"><%= @species.name %></h1>
  <hr>
  <div class="row">
    <div class="col-sm-4">
      <p>Description: <%= @species.description %></p>
      <p>Source Page: <%= @species.source_page %></p>
      <p>Source Book: <%= @species.source_book %></p>
      <p>Brawn: <%= @species.brawn %></p>
      <p>Agility: <%= @species.agility %></p>
    </div>
    <div class="col-sm-4">
      <p>Intellect: <%= @species.intellect %></p>
      <p>Cunning: <%= @species.cunning %></p>
      <p>Willpower: <%= @species.willpower %></p>
      <p>Presence: <%= @species.presence %></p>
      <p>Wound Threshold: <%= @species.wound_threshold %></p>
    </div>
    <div class="col-sm-4">
      <p>Strain Threshold: <%= @species.strain_threshold %></p>
      <p>Experience: <%= @species.experience %></p>
    </div>
  </div>
</div>