<h1><%= @skill.name %> <span class="skill-rank">rank: <%= @skill.rank %></span></h1>
<hr>
<h3>Description</h3>
<p><%= @skill.description %></p>
<h3>Difficulty</h3>
<p><%= @skill.difficulty %></p>
<h3>Characteristic</h3>
<p><%= @skill.characteristic %></p>
<h3>Type of Skill</h3>
<p><%= @skill.type_of_skill %></p>