<div class="container-fluid character-new">
  <%= form_for @character do |f| %>
      <h2 class="text-center">Stats</h2>
      <hr>      
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :soak_value %></p>
            <p><%= f.text_field :soak_value, :class => "form-control" %></p><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :threshold_wounds %></p>
            <p><%= f.text_field :threshold_wounds, :class => "form-control" %></p><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :current_wounds %></p>
            <p><%= f.text_field :current_wounds, :class => "form-control" %></p><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :threshold_strain %></p>
            <p><%= f.text_field :threshold_strain, :class => "form-control" %></p><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :current_strain %></p>
            <p><%= f.text_field :current_strain, :class => "form-control" %></p><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :ranged_defense %></p>
            <p><%= f.text_field :ranged_defense, :class => "form-control" %></p><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :melee_defense %></p>
            <p><%= f.text_field :melee_defense, :class => "form-control" %></p><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :force_rating %></p>
            <p><%= f.text_field :gender, :class => "form-control" %></p><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :force_rating %></p>
            <p><%= f.text_field :age, :class => "form-control" %></p><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :force_rating %></p>
            <p><%= f.text_field :height, :class => "form-control" %></p><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :force_rating %></p>
            <p><%= f.text_field :hair, :class => "form-control" %></p><br>
          </div>
        </div>
      </div>
      <h2 class="text-center">Characteristics</h2>
      <hr>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :name %></p>
            <p><%= f.text_field :name, :class => "form-control" %></p><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :force_rating %></p>
            <p><%= f.text_field :force_rating, :class => "form-control" %></p><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :brawn %></p>
            <p><%= f.text_field :brawn, :class => "form-control" %></p><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :agility %></p>
            <p><%= f.text_field :agility, :class => "form-control" %></p><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :intellect %></p>
            <p><%= f.text_field :intellect, :class => "form-control" %></p><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :cunning %></p>
            <p><%= f.text_field :cunning, :class => "form-control" %></p><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :will_power %></p>
            <p><%= f.text_field :will_power, :class => "form-control" %></p><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :presence %></p>
            <p><%= f.text_field :presence, :class => "form-control" %></p><br>
          </div>
        </div>
      </div>
      <h2 class="text-center">Description</h2>
      <hr>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :name %></p>
            <p><%= f.text_field :name, :class => "form-control" %></p><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :notable_features %></p>
            <p><%= f.text_field :notable_features, :class => "form-control" %></p><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :total_xp %></p>
            <p><%= f.text_field :total_xp, :class => "form-control" %></p><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :available_xp %></p>
            <p><%= f.text_field :available_xp, :class => "form-control" %></p><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :motivations %></p>
            <p><%= f.text_field :motivations, :class => "form-control" %></p><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :species %></p>
            <p><%= f.text_field :species, :class => "form-control" %></p><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :hair %></p>
            <p><%= f.text_field :hair, :class => "form-control" %></p><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :eyes %></p>
            <p><%= f.text_field :eyes, :class => "form-control" %></p><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :conflict %></p>
            <p><%= f.text_field :conflict, :class => "form-control" %></p><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :gender %></p>
            <p><%= f.text_field :gender, :class => "form-control" %></p><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :build %></p>
            <p><%= f.text_field :build, :class => "form-control" %></p><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :height %></p>
            <p><%= f.text_field :height, :class => "form-control" %></p><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :age %></p>
            <p><%= f.text_field :age, :class => "form-control" %></p><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :user_id %></p>
            <p><%= f.text_field :user_id, :class => "form-control" %></p><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :force_rating %></p>
            <p><%= f.text_field :force_rating, :class => "form-control" %></p><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :emotional_strength %></p>
            <p><%= f.text_field :emotional_strength, :class => "form-control" %></p><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <p><%= f.label :emotional_weakness %></p>
            <p><%= f.text_field :emotional_weakness, :class => "form-control" %></p><br>
          </div>
        </div>
    </div>
    <%= f.submit %>
  <% end %>
</div>