<div class="container-fluid characters-section characters-padding characters-top-bottom">
  <%= form_for @character do |f| %>
      <h2 class="text-center">Stats</h2>
      <hr>      
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :soak_value %>
            <%= f.text_field :soak_value, :class => "form-control" %><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :threshold_wounds %>
            <%= f.text_field :threshold_wounds, :class => "form-control" %><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :current_wounds %>
            <%= f.text_field :current_wounds, :class => "form-control" %><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :threshold_strain %>
            <%= f.text_field :threshold_strain, :class => "form-control" %><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :current_strain %>
            <%= f.text_field :current_strain, :class => "form-control" %><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :ranged_defense %>
            <%= f.text_field :ranged_defense, :class => "form-control" %><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :melee_defense %>
            <%= f.text_field :melee_defense, :class => "form-control" %><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :gender %>
            <%= f.text_field :gender, :class => "form-control" %><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :age %>
            <%= f.text_field :age, :class => "form-control" %><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :height %>
            <%= f.text_field :height, :class => "form-control" %><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :hair %>
            <%= f.text_field :hair, :class => "form-control" %><br>
          </div>
        </div>
      </div>
      <h2 class="text-center">Characteristics</h2>
      <hr>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :force_rating %>
            <%= f.text_field :force_rating, :class => "form-control" %><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :brawn %>
            <%= f.text_field :brawn, :class => "form-control" %><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :agility %>
            <%= f.text_field :agility, :class => "form-control" %><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :intellect %>
            <%= f.text_field :intellect, :class => "form-control" %><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :cunning %>
            <%= f.text_field :cunning, :class => "form-control" %><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :will_power %>
            <%= f.text_field :will_power, :class => "form-control" %><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :presence %>
            <%= f.text_field :presence, :class => "form-control" %><br>
          </div>
        </div>
      </div>
      <h2 class="text-center">Description</h2>
      <hr>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, :class => "form-control" %><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :notable_features %>
            <%= f.text_field :notable_features, :class => "form-control" %><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :total_xp %>
            <%= f.text_field :total_xp, :class => "form-control" %><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :available_xp %>
            <%= f.text_field :available_xp, :class => "form-control" %><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :motivations %>
            <%= f.text_field :motivations, :class => "form-control" %><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :species %>
            <%= f.text_field :species, :class => "form-control" %><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :hair %>
            <%= f.text_field :hair, :class => "form-control" %><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :eyes %>
            <%= f.text_field :eyes, :class => "form-control" %><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :conflict %>
            <%= f.text_field :conflict, :class => "form-control" %><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :gender %>
            <%= f.text_field :gender, :class => "form-control" %><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :build %>
            <%= f.text_field :build, :class => "form-control" %><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :height %>
            <%= f.text_field :height, :class => "form-control" %><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :age %>
            <%= f.text_field :age, :class => "form-control" %><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :emotional_strength %>
            <%= f.text_field :emotional_strength, :class => "form-control" %><br>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :emotional_weakness %>
            <%= f.text_field :emotional_weakness, :class => "form-control" %><br>
          </div>
        </div>
    </div>
    <%= f.submit "Create", :class => "btn access_button" %>
  <% end %>
</div>
