<!DOCTYPE html>

<html>
  <head>
    <title>StarWarsFfg</title>
    <%= csrf_meta_tags %>
    
		<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

     <%= yield :head %>
  </head>

  <body>
	
	<nav class="navbar navbar-toggleable-sm navbar-fixed-top navbar-light bg-faded">
		<div class="container">
			<a class="navbar-brand" href="#">Star Wars</a>
		  <div class="navbar" id="navbarNav">
		    <ul class="nav nav-pills">
		      <% if user_signed_in? %>
		      <%= render 'user_navbar' %>
					<% else %>
					<%= render 'guest_navbar' %>
					<% end %>
		    </ul>
		  </div>
		</div>
	  
	</nav>

	<div class="container">
		<%= yield %>
	</div>

	<% flash.each do |key, value| %>
		<div class="container mt-20">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<%= content_tag(:div, "<strong> Danger! </strong> #{value}".html_safe , class: "alert alert-#{key}") %>
				</div>
			</div>
		</div>
    <% end %>
    
  </body>
</html>
